<h1 class="bg-primary">Welcome to {{title}} Notes!</h1>

<button (click)="readMe()">Click here to console.log()</button>
<br>-----------------------------------------------<br>

<!-- INSERTING THE ngIf  TUTORIAL PRACTICE HERE -->
<app-ng-if-tutorial></app-ng-if-tutorial>

<!-- INSERTING THE SWITCH CASE TUTORIAL PRACTICE HERE -->
<app-switch-case-tutorial></app-switch-case-tutorial>

<!-- INSERTING THE ngFor TUTORIAL PRACTICE HERE -->
<app-ng-for-tutorial></app-ng-for-tutorial>

<!-- INSERTING THE ngStyle & ngClass TUTORIAL PRACTICE HERE -->
<app-ng-style-and-ng-class-tutorial></app-ng-style-and-ng-class-tutorial>

<!-- INSERTING THE ONE-WAY DATA BINDING TUTORIAL PRACTICE HERE -->
<app-data-binding-tutorial-section></app-data-binding-tutorial-section>

<!-- INSERTING THE TWO-WAY DATA BINDING TUTORIAL PRACTICE HERE -->
<app-two-way-data-binding></app-two-way-data-binding>

<!-- INSERTING PIPES TUTORIAL PRACTICE HERE -->
<app-pipes-tutorial></app-pipes-tutorial>

<!-- INSERTING CUSTOM PIPES TUTORIAL PRACTICE HERE -->
<app-custom-pipe-example></app-custom-pipe-example>


<router-outlet></router-outlet>