<div class="container">
    <h4 class="pb-2">Checkout Form PT 2 - Reactive Forms</h4>
    <form [formGroup]="checkoutForm" (ngSubmit)="postData();">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type='email' class='form-control' id='inputEmail3' formControlName='emailAddr'>
                <span *ngIf="checkoutForm.get('emailAddr').touched && checkoutForm.get('emailAddr').hasError('required')">Email is required</span>
                <span *ngIf="checkoutForm.get('emailAddr').touched && checkoutForm.get('emailAddr').hasError('email')">Email must be a valid address.</span>
                <span *ngIf="checkoutForm.get('emailAddr').touched && checkoutForm.get('emailAddr').hasError('minlength')">Email must be a minimum of 5 characters</span>
           </div>
        </div>
    
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Quantity</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword3" formControlName="quantity">
            <span *ngIf="checkoutForm.get('quantity').touched && checkoutForm.get('quantity').hasError('required')">Please enter a quantity</span>
        </div>
    </div>


    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Items</label>
        <div class="col-sm-10" formArrayName="items">
            <div *ngFor="let item of checkoutForm.controls.items['controls']; let i=index" [formGroupName]="i">
                <a [routerLink] (click)="removeItem(i)">Remove a Row</a>
                <input class="form-control" type="text" formControlName="itemId" id="task{{i}}">
                <input class="form-control" type="text" formControlName="itemName" id="task{{i}}">
                <input class="form-control" type="text" formControlName="itemDescription" id="task{{i}}">
                <input type="checkbox" formControlName="itemsDone">Mark as Done
            </div>
        </div>
    </div>


    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1" formControlName="terms">
                <label class="form-check-label" for="gridCheck1">
                    Agree to Terms
                </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn primary" [disabled]="!checkoutForm.valid">Checkout</button>
                <button type="submit" class="btn btn-link" (click)="addNewItem();">Add New Row</button>
            </div>
        </div>
    </div>
    </form>

</div>